// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article {
  ol, ul {
    padding-left: 3em;
  }
}

article > div {
  > table {
    margin-bottom: 20px;
    td, th {
      border: solid 1px black;
      background-color: #efefef;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    th {
      font-weight: bold;
    }
  }
}
